.button {
    width: 80px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
    color: #fff;

    p {
        display: none;
        margin: 0px;
        text-transform: uppercase;
        transition: color 0.5s;
    }

    svg {
        position: absolute;
        right: 22px;
        top: 30px;

        line {
            stroke: white;
            transition: stroke 0.5s;
            padding: 0 5px;
        }
    }

    .background {
        background-color: #D3FD50;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        height: 0;
        transition: height 0.3s;
    }

    &:hover {
        svg {
            line {
                stroke: black;
            }
        }

        .background {
            height: 100%;
        }
    }
}

@media only screen and (min-width: 600px) {
    .button {
        height: 80px;

        p {
            display: block;
        }
    }
}