.contactButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 100px;
    width: 80px;
    height: 80px;
}

.menuContactsButtons {
    display: grid;
    justify-content: end;
}